<!DOCTYPE html>
<html>
    <%- include header.ejs %>
    <body>
        <%- include menu.ejs %>
        <div class="container">
            <h1>Thank you for your order!</h1>
            <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
			<td colspan="2" class="hidden-xs"></td>
        </div>
    </body>
</html>